.art-card {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  border: 1px solid #E1E1E1;
}

.art-card__image {
  max-height: 160px;
  height: 100%;
}

.art-card__name {
  font-size: 18px;
  color: #343030
}

.art-card__container {
  padding: 23px 24px 24px;
  position: relative;

}

.art-card__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 29px;
}

.art-card__price {
  display: flex;
  flex-direction: column;
}

.art-card__price--old {
  color: #A0A0A0;
  font-size: 14px;
  font-weight: 300;
  text-decoration: line-through;
}

.art-card__price--new {
  color: #343030;
  font-size: 16px;
  font-weight: 700;
}

.art-card__buy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  gap: 1px;
  color: #F4F6F9;
  background-color: #382E2B;
  width: 118px;
  height: 48px;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
}

.purchased {
  background-color: #5B3A32
}